# **Data Peserta Binar Academy**

Hai binarians, kali ini kita akan kerja kelompok lagi. Kali ini Binar Academy perlu melakukan koleksi data mengenai data peserta. Teman-teman sebagai Data Scientist diminta untuk memanipulasi database menggunakan sqlite3.

**Perintah Pengerjaan :**

1. Buatlah database dari informasi anggota kelompok masing-masing menggunakan python, pandas dan sqlite3
2. Buat tabel bernama "data_kelas" dengan kolom : nama, email dan kelas
3. Buat tabel bernama "data_peserta" dengan kolom : nama, no_telp, ukuran_baju
4. Kolom kelas berisi kode : DSC, BIA, UI/UX, QA, atau PM
5. Kolom ukuran baju berisi : XS, S, M, L, atau XL
6. Masukkan informasi Facilitator yaitu 
- tabel data_kelas dan kolom secara berurutan : "Arjun Prayoga Aji, paji@binaracademy.org, DSC"
- tabel data_peserta dan kolom secara berurutan : "Arjun Prayoga Aji, 081390379213, L"
7. Kumpulkan dalam bentuk "nama_kelompok.db"
8. Update data email Facilitator menjadi "prayoga.aji.arjun@gmail.com"
9. Kumpulkan dalam bentuk "nama_kelompok_revised.db"
9. Hapus data Facilitator
10. Kumpulkan dalam bentuk "nama_kelompok_revised_fix.db"
11. Push pekerjaan teman-teman ke github masing-masing
12. Push pekerjaan kelompok pada pekan lalu ke github masing-masing

In [14]:
import sqlite3

#db = sqlite3.connect('challenge.db', check_same_thread=False)
conn = sqlite3.connect('kelompok_2.db')

print("Success!")

Success!

In [15]:
cursor = conn.cursor()

conn.execute('''CREATE TABLE data_kelas (nama varchar(255), email varchar(255), kelas varchar(255));''')
conn.commit()

print("Tabel data_kelas sudah dibuat")

Tabel data_kelas sudah dibuat

In [16]:
conn.execute('''CREATE TABLE data_peserta (nama varchar(255), no_telpon varchar(255), ukuran_baju varchar(255));''')
conn.commit()

print("Tabel data_peserta sudah dibuat")

Tabel data_peserta sudah dibuat

In [17]:
#Insert Data tabel data_kelas

conn.execute("INSERT INTO data_kelas VALUES ('Arjun Prayoga Aji', 'paji@binaracademy.org', 'DSC')")
conn.execute("INSERT INTO data_kelas VALUES ('Muhammad Abid', 'muhammmadabidd@gmail.com', 'DSC')")
conn.execute("INSERT INTO data_kelas VALUES ('Boby Zebua', 'b6000lz@gmail.com', 'DSC')")
conn.execute("INSERT INTO data_kelas VALUES ('Muhammad Ramadhani Jatmika' , 'ramadhanijatmika99@gmail.com' , 'DSC')")
conn.execute("INSERT INTO data_kelas VALUES ('Harya Kumuda Koostanto', 'haryak01@gmail.com','DSC')")
conn.execute("INSERT INTO data_kelas VALUES ('Muhammad Aldan' , 'muhammadaldan@gmail.com' , 'DSC')")
conn.execute("INSERT INTO data_kelas VALUES ('Kevin alfindi' , 'alfindikevin@gmail.com' , 'DSC')")
conn.execute("INSERT INTO data_kelas VALUES ('Yusa Rizal Septio Amrullah' , 'yusarizal25@gmail.com' , 'DSC')")
conn.execute("INSERT INTO data_kelas VALUES ('Ayyub Setiyoso' , 'ayyubste@gmail.com' , 'DSC')")

conn.commit()

In [18]:
#Insert Data tabel data_peserta

conn.execute("INSERT INTO data_peserta VALUES ('Arjun Prayoga Aji', '081390379213', 'L')")
conn.execute("INSERT INTO data_peserta VALUES ('Muhammad Abid', '081273568772', 'XL')")
conn.execute("INSERT INTO data_peserta VALUES ('Boby Zebua', '082112591995', 'M')")
conn.execute("INSERT INTO data_peserta VALUES ('Muhammad Ramadhani Jatmika' , '081228645346' , 'L')")
conn.execute("INSERT INTO data_peserta VALUES ('Harya Kumuda Koostanto', '081322669515','L')")
conn.execute("INSERT INTO data_peserta VALUES ('Muhammad Aldan' , '087885821445' , 'L')")
conn.execute("INSERT INTO data_peserta VALUES ('Kevin alfindi' , '085717882787' , 'M')")
conn.execute("INSERT INTO data_peserta VALUES ('Yusa Rizal Septio Amrullah' , '082220273690' , 'M')")
conn.execute("INSERT INTO data_peserta VALUES ('Ayyub Setiyoso' , '081334561131' , 'XL')")

conn.commit()

In [19]:
cursor = conn.execute("SELECT * FROM data_kelas;")
for row in cursor:
  print(row)

('Arjun Prayoga Aji', 'paji@binaracademy.org', 'DSC')
('Muhammad Abid', 'muhammmadabidd@gmail.com', 'DSC')
('Boby Zebua', 'b6000lz@gmail.com', 'DSC')
('Muhammad Ramadhani Jatmika', 'ramadhanijatmika99@gmail.com', 'DSC')
('Harya Kumuda Koostanto', 'haryak01@gmail.com', 'DSC')
('Muhammad Aldan', 'muhammadaldan@gmail.com', 'DSC')
('Kevin alfindi', 'alfindikevin@gmail.com', 'DSC')
('Yusa Rizal Septio Amrullah', 'yusarizal25@gmail.com', 'DSC')
('Ayyub Setiyoso', 'ayyubste@gmail.com', 'DSC')

In [20]:
cursor = conn.execute("SELECT * FROM data_peserta;")
for row in cursor:
  print(row)

('Arjun Prayoga Aji', '081390379213', 'L')
('Muhammad Abid', '081273568772', 'XL')
('Boby Zebua', '082112591995', 'M')
('Muhammad Ramadhani Jatmika', '081228645346', 'L')
('Harya Kumuda Koostanto', '081322669515', 'L')
('Muhammad Aldan', '087885821445', 'L')
('Kevin alfindi', '085717882787', 'M')
('Yusa Rizal Septio Amrullah', '082220273690', 'M')
('Ayyub Setiyoso', '081334561131', 'XL')

In [22]:
#Update data Fasilitator

conn.execute("UPDATE data_kelas set email = 'prayoga.aji.arjun@gmail.com' where nama = 'Arjun Prayoga Aji';")
conn.commit()

In [23]:
cursor = conn.execute("SELECT * FROM data_kelas;")
for row in cursor:
  print(row)

('Arjun Prayoga Aji', 'prayoga.aji.arjun@gmail.com', 'DSC')
('Muhammad Abid', 'muhammmadabidd@gmail.com', 'DSC')
('Boby Zebua', 'b6000lz@gmail.com', 'DSC')
('Muhammad Ramadhani Jatmika', 'ramadhanijatmika99@gmail.com', 'DSC')
('Harya Kumuda Koostanto', 'haryak01@gmail.com', 'DSC')
('Muhammad Aldan', 'muhammadaldan@gmail.com', 'DSC')
('Kevin alfindi', 'alfindikevin@gmail.com', 'DSC')
('Yusa Rizal Septio Amrullah', 'yusarizal25@gmail.com', 'DSC')
('Ayyub Setiyoso', 'ayyubste@gmail.com', 'DSC')

In [24]:
#Menghapus data fasilitator

conn.execute("DELETE FROM data_kelas where nama = 'Arjun Prayoga Aji';")
conn.execute("DELETE FROM data_peserta where nama = 'Arjun Prayoga Aji';")
conn.commit()

In [25]:
cursor = conn.execute("SELECT * FROM data_kelas;")
for row in cursor:
  print(row)

('Muhammad Abid', 'muhammmadabidd@gmail.com', 'DSC')
('Boby Zebua', 'b6000lz@gmail.com', 'DSC')
('Muhammad Ramadhani Jatmika', 'ramadhanijatmika99@gmail.com', 'DSC')
('Harya Kumuda Koostanto', 'haryak01@gmail.com', 'DSC')
('Muhammad Aldan', 'muhammadaldan@gmail.com', 'DSC')
('Kevin alfindi', 'alfindikevin@gmail.com', 'DSC')
('Yusa Rizal Septio Amrullah', 'yusarizal25@gmail.com', 'DSC')
('Ayyub Setiyoso', 'ayyubste@gmail.com', 'DSC')

In [26]:
cursor = conn.execute("SELECT * FROM data_peserta;")
for row in cursor:
  print(row)

('Muhammad Abid', '081273568772', 'XL')
('Boby Zebua', '082112591995', 'M')
('Muhammad Ramadhani Jatmika', '081228645346', 'L')
('Harya Kumuda Koostanto', '081322669515', 'L')
('Muhammad Aldan', '087885821445', 'L')
('Kevin alfindi', '085717882787', 'M')
('Yusa Rizal Septio Amrullah', '082220273690', 'M')
('Ayyub Setiyoso', '081334561131', 'XL')